/* You can add global styles to this file, and also import other style files */
app-root {
  background-color: #f8f9f9;
}
.content {
  text-align: left;
  align-items: flex-start;
}
.component_list_title {
  color: #2c3844;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}

.page-footer {
  align-items: center;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.estadistica{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {text-shadow: 0.1em 0.1em 0.2em grey}
